<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html"; charset="UTF-8" http-equiv="Content=Type" />
  </head>
  <body>
    <h1><%= t('welcome_email.title', name: @user.name) %></h1>
    <p>
      Thank you for being a part of our Alpha testing. We've had a fun
      time working on this project and we're excited to finally be able
      to share it with you. With your help, we can make TeacherMaps a
      tool that will ease the burden of lesson planning for teachers everywhere.
    </p>
    <p><%= raw t( 'welcome_email.content', activation_link: link_to(t('welcome_email.activation_link'), controller: 'users', action: 'confirm_email', params: { key: @user.request_key }, only_path: false, host: @host) )%></p>
    <h1>How you can help</h1>
    <p>
      The best thing you can do to help this product along is to use it
      and give us feedback. Even if you're not a teacher, consider using
      TeacherMaps to bookmark your favorite websites or sort your
      Dropbox and Google Drive files. If you come up with a creative
      use of the product, we'd love to hear it! Check in when you can,
      we'll be making improvements every week. If you need help getting
      started, check out our
      <%= link_to "help documentation", controller: 'static_pages', action: 'help', only_path: false, host: @host %>.
    </p>
    <p>
      During this alpha period we expect to find a range of issues,
      from usability to instability and unavailability. Any time you
      experience an issue, let us know either by using the feedback
      tool at the top of every page when you're logged in or by sending
      us a mail at
      <a href="mailto:support@teachermaps.com">support@teachermaps.com</a>.
    </p>
    <p>
      With your help, we can ensure that later TeacherMaps customers
      won’t have to suffer through any of the issues we may subject you
      to. We apologize in advance :)
    </p>
    <p>Thanks for your help and support!</p>
    <p>Evan, James, and Drew</p>
  </body>
</html>

<% if false %>
  <h1><%= t('welcome_email.title', name: @user.name) %></h1>
  <p><%= raw t( 'welcome_email.content', activation_link: link_to(t('welcome_email.activation_link'), controller: 'users', action: 'confirm_email', params: { key: @user.request_key }, only_path: false, host: @host) )%></p>
<% end %>
