<% if !@map.map_standards.empty? %>
	<% @map.sorted_map_standards.each do |map_standard| %>
   	<ul style="list-style-type:none;">

			<li action-url="<%= user_map_standard_path map_standard.user, map_standard.slug %>" class="hover clickable action-link editable">    
					
	      <span>
	        <%= link_to map_standard_path(map_standard), confirm: t('maps.delete_map_standard_confirmation', title: map_standard.standard.name),  method: :delete, title: t('maps.delete_map_standard'), :class=>"maps_map_standard_destroy pull-right", remote: true do %>
	          <i class="icon-trash"></i>
	        <% end %>
	      </span>
	     		
	   		<b><%= map_standard.standard.name %>: </b>
	   		<p><%= raw(map_standard.standard.text) %></p>

		    <ul class="inline">
			  	<li>
		  	  <label><%= t('shared.objectives') %>: <%= map_standard.objectives_count %></label>
	        </li>
	        <li>
	        	<label><%= t('shared.resources') %>: <%= map_standard.resources_count %></label>
	        </li>
	      </ul>

			</li>

		</ul>
	<% end %>
<% end %>
