<ul id="standards_list" style="cursor:pointer;list-style-type: none;">
	<% if @standards and @standards.any? %>
		<% @standards.each do |standard| %>
		  <li style="margin-bottom:10px;">

		  	<% if @map_standards_by_standard_id.has_key?(standard.id) %>
	    		<div class="standard-selected" >
      	<% else %>
        	<div class="standard-default hover"  standard-id="<%= standard.id %>" action-url="<%= map_map_standards_path(@map.id) %>">
      	<% end %> 

      	<b><%= standard.name %></b> <%= raw(standard.text) %>
    		
	    	<% if standard.is_parent_standard %>
	    		<ul style="cursor:pointer;">
		    		<% standard.children_standards.each do |child| %>
		    			<li>
					    	<% if @map_standards_by_standard_id.has_key?(child.id) %>
					    		<div class="standard-selected">
              	<% else %>
                	<div class="standard-default" standard-id="<%= child.id %>" action-url="<%= map_map_standards_path(@map.id) %>">
              	<% end %> 
					    		<b><%= child.name %></b> <%= raw(child.text) %>
					    		</div>
				    	</li>
			    	<% end %>
		    	</ul>	
				<% end %>	
			
				</div> 		
	    </li>
		    
		<% end %>
	<% else %>

		<li class="center"><h2> No Results Found </h2></li>

  <% end %>
</ul>