<table class="table table-condensed"  id="maps_map_assessments_resources_table"  style="cursor:pointer;">
	<% if @resources.any? %>
	
  <tbody>
	  <thead>
	    <tr>
	      <th><%= t('shared.type') %></th>
	      <th><%= t('resources.title') %></th>
	      <th><%= t('resources.grades') %></th>
	      <th><%= t('resources.subjects') %></th>
	    </tr>
	  </thead>

	  <% @resources.each do |resource| %>
	    <% if  @map_resources_by_resource_id.has_key? resource.id %>
	      <tr map-assessment-id="<%= @map_assessment.id %>" resource-id="<%= resource.id %>"  class="map_assessment_resource_selected"> 
	    <% else %>
	      <tr map-assessment-id="<%= @map_assessment.id %>" resource-id="<%= resource.id %>" class="map_assessment_resource_default hover"> 
	    <% end %>

	      <td title="<%= resource.get_type %>" style="width:35px;"><%= raw resource.get_thumbnail %></td>
	      <td><%= link_to truncate(resource.title, :length => Resource::MAX_TITLE_RENDER_LEN), 'JavaScript:void();', {:class => 'action-blank-link', 'action-url' => resource_path(resource) } %></td>
	      <td>
	        <% if resource.course_grades.any? %>
	          <%= raw(course_grade_ranges(resource.course_grades) ) %>
	        <% end %>     
	      </td>
	      <td>
	        <% if resource.course_subjects.any? %>
	          <%= resource.course_subjects.map(&:name).join(", ") %>
	        <% end %>    
	      </td>
	    </tr>
	  <% end %>
	</tbody>

	<% else %>
	<tr><td colspan="4" style="text-align:center;"><h2> No Results Found </h2></td></tr>
	<% end %>
</table>


<script type="text/javascript">
$(document).ready(function() {    
  console.log("Loggin new assessment");
  $('.best_in_place').best_in_place();
});
</script>
