<div class="row">
	<% if @map %>
  <input type="hidden" id="map-id" value=<%= @map.id %> />
  <% end %>
  <div class="span10">
    <div>

      
    	<% if @is_admin %>
    	<span class="pull-right" >
    		
    		<%= link_to "Share", "#share_map_modal",'data-toggle' => "modal", :class=>'btn'%>
    		<% if client_browser_name == 'Firefox' %>
    			<span id="map-privacy-state-switch" class="switch" action-url="<%= user_map_path(@map.user.id, @map) %>"  data-on="danger" data-off="primary" data-on-label="Public" data-off-label="Private" style="top:10px;">
				<% else %>  	
					<span id="map-privacy-state-switch" class="switch" action-url="<%= user_map_path(@map.user.id, @map) %>"  data-on="danger" data-off="primary" data-on-label="Public" data-off-label="Private">
				<% end %>
					
			    <% if @map.privacy_state == PrivacyState::PUBLIC %> 
			    	<input type="checkbox" checked />
			    <% else %>
			    	<input type="checkbox" />
			    <% end %>
				</span>


     	</span>

      <div>
        	<!-- Breadcrumb -->
        	<%= link_to t('shared.my_maps'), user_path(@map.user) %> / <b><%= "#{@map.name.titlecase.truncate(40)}"%></b>
      	<% else %>
      		<%= link_to "#{@map.user.name}'s Maps", user_path(@map.user) %> / <b><%= "#{@map.name.titlecase.truncate(40)}"%></b>
        <% end %>
      </div>

      <div>
        <h2>
        	<span class="<%= set_if @is_admin, 'editable-field' %>">
        			<%= best_in_place_if @is_admin, @map, :name, :type => :input, :display_as => :title_titlecase %>
      		</span>
    		</h2>
      </div>

      <!-- Map Content -->
      <div>
        <p>
        	<span class="<%= set_if @is_admin, 'editable-field' %>">
        		<%= best_in_place_if @is_admin, @map, :text, :type => :textarea, :classes=>'best_in_place_selector', :nil => raw('<span class="gray">Description</span>') %>
        	</span>
      	</p>
      </div>

      <div>
        <span class="pull-right">
        	<% if @is_admin %>
          	<%= link_to t('maps.add_map_standards'), "#filter_map_standards_modal",'data-toggle' => "modal",  :class => 'btn'  %>
          <% end %>
        </span> 
        <h3><%= t('shared.standards') %></h3>
        <div id="map_standards_list">

          <!-- Map Standards -->
          <%= render 'maps/list_map_standards' %>
        </div>
      </div>


      <div>
        <span class="pull-right">
        	<% if @is_admin %>
            <%= link_to 'Add Assessment', "JavaScript:void(0);", :class => 'btn', id: 'create_map_assessment', 'action-url' => map_assessments_path %>
          <% end %>
        </span>  
        <h3><%= t('shared.assessments') %></h3>
        <div id="maps_list_map_assessments">
          <!-- Map Assessments -->
          <%= render 'maps/list_map_assessments' %>
        </div>
      </div>
    </div>
  </div>


	<% if @is_admin %>
  <div id="filter_map_standards_modal" class="standard-modal  modal hide fade in">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div><H3><%= t('shared.standards') %></H3></div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div id="standards_filter" class="center" >
        <%= render 'maps/filter_standards' %>
        </div>
      </div>
      <div class="row">
        <div  id="standards_table" style="margin: 0px 20px 0px 20px;">
          <%= render 'maps/list_standards' %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
    </div>
  </div>
	  
	  <div id="filter_map_resources_modal" class="resource-modal modal hide fade" >
	    <div class="filter_map_resources_modal_header modal-header">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h3><%= t('resources.loading') %></h3>
	    </div>
	    <div class="filter_map_resources_modal_body modal-body center">
	        <%= image_tag "loading.gif", :alt => "loading"%>
	    </div>
	  </div>
	<% end %>


	<div id="share_map_modal" class="	modal hide fade in">
		
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div><H3>Share "<%= @map.name.titlecase.truncate(40) %>"</H3></div>
    </div>
    
    <div class="modal-body">

    	<div id="share_map_form_errors"></div>

    	<p>
    		<%= text_field_tag('', map_path(@map.slug, only_path: false, host: request.host)) %>
    	<p>

    	<%= form_for @share_email, url: map_share_email_index_path(@map), html: { :remote=>true, :multipart => true, :class=>"form-horizontal", :'data-type' => 'html', id: 'share_map_form' }  do |f| %>
    			  
			  <%= label_tag(:email, "Email Address") %>
  			<%= f.text_field :email, placeholder:'email@example.com', required: true %>
			  <br/><br/>

			  <%= label_tag(:comment, "Comment") %>
  			<%= f.text_area :comment, id:'share_comments_field',  placeholder:'Send with a comment!!' %>
			  <br/><br/>

			  <button type="button" class="btn" data-dismiss="modal">Cancel</button>
			  <button type="submit" id="share_map_form_submit" class="btn btn-primary">Share</button>
		  <% end %>
    </div>
  </div>

</div>

<% if @is_admin %>
	<script type="text/javascript">
	$(document).ready(function() {    
	  $('.best_in_place').best_in_place();
	});

	$(document).ready(function(){
    $('#share_comments_field').autosize();   
	});
	</script>
<% end %>
