<div class="row">
  <div class="span10" style="">
    <div>
      <div>
        <!-- Breadcrumb -->
        <%= link_to "#{@map.name.titlecase}", "#" %> /
      </div>
      <div>
        <h2><%= @map.name.titlecase %></h2>
      </div>
      <!-- Map Content -->
      </div>
        <p><%= @map.text %></p>
      <div>
      <div>
        <div>
          <div class="pull-right"><%= link_to 'Add Standards', "#filter_map_standards_modal",'data-toggle' => "modal",  :class => 'btn'  %></div>
          <h3>Standards</h3>
        </div>
        <div>
          <!-- Map Standards -->
          <% if !@map.map_standards.empty? %>
            <% @map.sorted_map_standards.each do |map_standard| %>
              <div>
                <span>
                  <span><b><%= map_standard.standard.name %></b><span>: <%= map_standard.standard.text %>
                <span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>
        <div>
          <h3>Assessments</h3>
        </div>
        <div>
          <!-- Map Assessments -->
        </div>
      </div>
    </div>
  </div>


  <div id="filter_map_standards_modal" class="modal hide fade in" >
    <div class="modal-body">
      <div><H3>Standards Filter</H3></div>
        <!-- Standards  -->
        <%= render 'map_standards/form_filter' %>
    </div>
  </div>
</div>