<div class="row">
  <div class="span10" style="">
    <div>
      <div>
        <!-- Breadcrumb -->
        <%= link_to "#{@map.name.titlecase}", "#" %> /
      </div>
      <div>
        <h2><%= best_in_place @map, :name, :type => :input, :display_as => :title_titlecase %></h2>
      </div>
      <!-- Map Content -->
      </div>
        <p><%= best_in_place @map, :text, :type => :textarea %></p>
      <div>
      <div>
        <div class="pull-right"><%= link_to 'Edit Resources', "#filter_map_resources_modal",'data-toggle' => "modal",  :class => 'btn'  %></div>
        <div>
          <div class="pull-right"><%= link_to 'Edit Standards', "#filter_map_standards_modal",'data-toggle' => "modal",  :class => 'btn'  %></div>
          <h3>Standards</h3>
        </div>
        <div id="map_standards_list">

          <!-- Map Standards -->
          <%= render 'maps/map_standards_list' %>
          
        </div>
      </div>
      <div>
        <div>
          <h3>Assessments</h3>
        </div>
        <div>
          <!-- Map Assessments -->
          <% if !@map.map_assessments.empty? %>
            <% @map.map_assessments.each do |map_asssessment| %>
              <div style="padding:5px;">
                <div>
                  <span><b><%= best_in_place map_asssessment, :name, :type => :input %></b><span>: <%= best_in_place map_asssessment, :text, :type => :textarea %>
                </div>
                <% if !map_asssessment.map_resources.empty? %>
                  <% map_asssessment.map_resources.each do |map_resource| %>
                    <div style="padding-left:50px;">
                      <div>
                        <span title="<%= map_resource.resource.get_type %>" style="width:35px;"><%= raw map_resource.resource.get_thumbnail %></span>
                        <span><b><%= link_to map_resource.resource.title.titlecase, resource_path(map_resource.resource.slug),  :target => "_blank" %></b><span>: <%= best_in_place map_resource, :text, :type => :textarea %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div id="edit_map_modal" class="edit-map-modal modal hide fade in">
    <input type="hidden" id="map-id" map-id=<%= @map.id %> />
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
      <div><H3><%= @map.name.titlecase %></H3></div>
      <div class="row">
        <div class="span10" id="resource_filter">
        <%= render 'maps/edit' %>
        </div>
      </div>
      <div class="row">
        <div class="span10" id="resource_table">
          <%= render 'maps/table_resources' %>
        </div>
      </div>
    </div>
  </div>

  <div id="filter_map_standards_modal" class="modal hide fade in">
    <input type="hidden" id="map-id" map-id=<%= @map.id %> />
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
      <div><H3>Standards Filter</H3></div>
        <div class="row">
          <div class="span7" id="standards_filter">
          <%= render 'standards/form_filter' %>
          </div>
        </div>
        <div class="row">
          <div class="span6" id="standards_table">
            <%= render 'standards/list' %>
          </div>
        </div>
    </div>
  </div>


  <div id="filter_map_resources_modal" class="resource-modal modal hide fade in">
    <input type="hidden" id="map-id" map-id=<%= @map.id %> />
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
      <div><H3>Resource Filter</H3></div>
      <div class="row">
        <div class="span9" id="map_resource_filter">
        <%= render 'maps/filter_resource' %>
        </div>
      </div>
      <div class="row">
        <div class="span9" id="map_resource_table">
          <%= render 'maps/table_resources' %>
        </div>
      </div>
    </div>
  </div>
</div>