<div class="row">
  <input type="hidden" id="map-id" value=<%= @map.id %> />
  
  <div class="span10" style="">
    <div>
      <div>
        <!-- Breadcrumb -->
        <%= link_to t('shared.my_maps'), user_path(@map.user) %> / <%= link_to "#{@map.name.titlecase.truncate(40)}", "JavaScript:void(0);" %> /
      </div>
      <div>
        <h2><%= best_in_place @map, :name, :type => :input, :display_as => :title_titlecase %></h2>
      </div>
      <!-- Map Content -->
      </div>
        <p ><%= best_in_place @map, :text, :type => :textarea, :classes=>'best_in_place_selector', :nil => raw('<span class="gray">Description</span>') %></p>
      <div>
        
      <div class="editable-btn">
        <span class="pull-right">
          <%= link_to t('maps.edit_map_standards'), "#filter_map_standards_modal",'data-toggle' => "modal",  :class => 'btn'  %>
        </span> 
        <h3><%= t('shared.standards') %></h3>
        <div id="map_standards_list">

          <!-- Map Standards -->
          <%= render 'maps/list_map_standards' %>

        </div>
      </div>


      <div class="editable-btn">
        <span class="pull-right">
            <%= link_to 'Add Assessment', "JavaScript:void(0);", :class => 'btn', id: 'create_map_assessment', 'action-url' => map_assessments_path %>
        </span>  
        <h3><%= t('shared.assessments') %></h3>
        <div id="maps_list_map_assessments">
          <!-- Map Assessments -->
          <%= render 'maps/list_map_assessments' %>
        </div>
      </div>
    </div>
  </div>


  <div id="filter_map_standards_modal" class="standard-modal  modal hide fade in">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
      <div><H3><%= t('shared.standards') %></H3></div>
    </div>
    <div class="modal-body">
        <div class="row">
          <div id="standards_filter" class="center" >
          <%= render 'maps/filter_standards' %>
          </div>
        </div>
        <div class="row">
          <div  id="standards_table" style="margin: 0px 20px 0px 20px;">
            <%= render 'maps/list_standards' %>
          </div>
        </div>
    </div>
  </div>

  <div id="filter_map_resources_modal" class="resource-modal modal hide fade" >
    <div class="filter_map_resources_modal_header modal-header">
      <button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
      <h3><%= t('resources.loading') %></h3>
    </div>
    <div class="span9 filter_map_resources_modal_body modal-body center">
        <%= image_tag "loading.gif", :alt => "loading"%>
    </div>
    <div class="modal-footer">&nbsp;</div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function() {    
  console.log("Loggin new assessment");
  $('.best_in_place').best_in_place();
});
</script>
