<ul style="list-style-type:none;">
    
  <% @maps.each do |map| %>
    <li action-url="<%= user_map_path map.user,map.slug  %>"  style="cursor:pointer;" class="action-link hover">
      
      <div class="row editable">
        <span>
          <%= link_to map, confirm: t('users.delete_map_confirmation', title: map.name), method: :delete, title: t('users.delete_map'), :class=>"users_map_destroy pull-right", remote: true do %>
            <i class="icon-trash"></i>
          <% end %>
        </span>

        <div class="span11" id="resource_filter">
          <h4><%= truncate(map.name, length: Map::MAX_NAME_RENDER_LEN) %></h4>
          <span>
            <%= truncate(map.text, length: Map::MAX_TEXT_RENDER_LEN) %>
          </span>
        </div>
      </div>
      
      <div class="row">
      
        <div class="span11">
          <ul class="inline gray">
            <li>
              <label><%= t('shared.standards') %>: <%= map.standards_count %> </label>
            </li>
            <li>
              <label><%= t('shared.objectives') %>: <%= map.objectives_count %></label>
            </li>
            <li>
              <label><%= t('shared.resources') %>: <%= map.resources_count %></label>
            </li>
            <li>
              <% if map.course_subjects.any? or map.course_grades.any? %> &mdash; <% end %>
            </li>
            <li>
              <% if map.course_subjects.any? %>
                <label><%= t('resources.subjects') %>: <%= map.course_subjects.map(&:name).join(", ") %></label>
              <% end %>    
            </li>
            <li>
              <% if map.course_grades.any? %>
                <label><%= t('resources.grades') %>: <%= raw(course_grade_ranges(map.course_grades) ) %></label>
              <% end %>
            </li>
          </ul>
        </div>

    

      </div>
    </li>
  <% end %>

</ul>

