<h1 class="center"><%= t 'REPLACE_TITLE' %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag( controller: 'users', action: 'reset_password' ) do %>

      <%= label_tag :account_name, t('REPLACE_ACCOUNT_NAME') %>
      <%= text_field_tag :account_name %>

      <%= label_tag :email, t('REPLACE_EMAIL') %>
      <%= text_field_tag :email %>

      <%= submit_tag 'REPLACE_SUBMIT', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
