<h1 class="center"><%= t('reset_password.title') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag( controller: 'users', action: 'reset_password' ) do %>

      <%= label_tag :email, t('reset_password.email') %>
      <%= text_field_tag :email %>

      <%= submit_tag t('reset_password.submit'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
