<h1 class="center"><%= t('reset_password.title') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, url: update_password_path) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { object: @user } %>

      <% unless @source == :email %>
        <%= label_tag :current_password, t('reset_password.current_password') %>
        <%= password_field_tag :current_password %>
      <% end %>

      <%= f.label :password, t('reset_password.new_password') %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, t('signup.pwdconf_label') %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit t('reset_password.submit'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
