<h1 class="center"><%= t('reset_password.title') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { object: @user } %>

      <%= hidden_field_tag :key, @user.request_key %>
      <%= hidden_field_tag :account_name, @user.account_name %>

      <%= f.label :password, t('reset_password.new_password') %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, t('signup.pwdconf_label') %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit t('reset_password.submit'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
