<div class="row">
  <aside class="span8">
    <section>
      <p><strong><%= @user.name %></strong>
      <br />
      <%= @user.account_name %>
      <br />
      <%= @user.email %></p>
    </section>
  </aside>
</div>

<div class="row">
  <div class="span9">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#maps" data-toggle="tab" class="map-toggle-control">Maps</a></li>
      <li><a href="#resources" data-toggle="tab" class="resource-toggle-control">Resources</a></li>
    </ul>
  </div>
  <div class="span3" id="resource-controls">
    <%= link_to t('resources.sync'), "#loading_modal",'data-toggle' => "modal", :onclick => "window.location=\"#{resources_sync_path}\"", :class => 'btn'  %>
    <%= link_to "Add Link", "#put_resource_link_modal",'data-toggle' => "modal", :class=>'btn' %>
  </div>
  <div class="span3" id="maps-controls">
    <%= link_to t('maps.create_map'), "JavaScript:void(0);", 'action-url'=> maps_path, :class => 'btn', id: "users_create_map"%>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="maps">
    <div id="users_maps_table">
      <%= render 'users/table_maps' %>
    </div>
  </div>
  <div class="tab-pane" id="resources">
    <div class="row">
      <div class="span12" id="resource_filter">
      <%= render 'resources/filter_resources' %>
      </div>
    </div>
    <div class="row">
      <div class="span12">

        <table class="table table-condensed table-hover" id="resources_table">
          <thead>
            <tr>
              <th><%= t('shared.type') %></th>
              <th><%= t('resources.title') %></th>
              <th><%= t('resources.grades') %></th>
              <th><%= t('resources.subjects') %></th>
            </tr>
          </thead>
          <tbody class="table-resources">
            <%= render 'resources/table_resources' %>
            <tr colspan="4" class="table-resources-loader"> </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div id="edit_resource_link_modal" class="modal hide fade in" >
  <div class="modal-body" id="edit_resource_link_modal_body"></div>
</div>

<div id="show_resource_link_modal" class="modal hide fade in"  >
    <div class="modal-body" id="show_resource_link_modal_body"></div>
</div>

<div id="put_resource_link_modal" class="modal hide fade in" >
  <div class="modal-body">
    <%= render 'resources/create_link' %>
  </div>
</div>


<%= will_paginate(@resources) %>
<script type="text/javascript">
$(document).ready(function() { 
  $('.table-resources').pageless({ 
    loader: '.table-resources-loader',
    totalPages: <%= @num_of_pages %> , 
    url: "<%= resources_page_path %>",
    loaderMsg: 'Loading more results' 
  });
});
</script>

