<div class="row">
  <aside class="span8">
    <section>
      <p><strong><%= @user.name %></strong></p>
    </section>
  </aside>

</div>


<% if @is_admin %>
  <div class="pull-right" id="maps-controls">
    <%= link_to t('maps.create_map'), "JavaScript:void(0);", 'action-url'=> maps_path, :class => 'btn', id: "users_create_map"%>
  </div>
<% end %>

<div>
  <ul class="nav nav-pills">
    <li class="active"><%= link_to 'Maps', current_user %></li>
    <li><%= link_to 'Resources', show_resources_path(current_user) %></li>
  </ul>
</div>



<div class="tab-content">
  <div class="tab-pane active" id="maps">
    <div id="users_maps_table" style="margin-left:-30px;">
      <%= render 'users/table_maps' %>
    </div>
  </div>
</div>


<% if @progress[:next_task] %>
  <%= render 'shared/popovers' %>
<% end %>
