<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= t 'feedback.link' %> <b class="caret"></b>
  </a>
  <ul id="feedback-dropdown" class="dropdown-menu input-xlarge">
    <div id="feedback-background" class="well">
      <%= form_for Feedback.new, remote: true, html: { :'data-type' => 'html', id: 'feedback_form' } do |f| %>

        <legend><%= t('feedback.title') %></legend>
        <%= f.text_area :message, rows: 3 %>
        <div id="validation_error"></div>

        <%= f.hidden_field :page, value: "#{@current_controller}##{@current_action}" %>
        <%= f.hidden_field :name, value: @current_user.name  %>
        <%= f.hidden_field :email, value: @current_user.email %>
        <%= f.hidden_field :account_name, value: @current_user.account_name %>

        <label class="pull-left checkbox" style="margin-top: 7px;">
          <%= check_box_tag :anonymous, 1 %> <%= t 'feedback.anonymous' %>
        </label>

        <%= f.submit  t('feedback.button'), class: "pull-right btn btn-primary" %>

        <div class="clearfix"></div>
      <% end %>
    </div>
  </ul>
</li>



