<table>
  <tr>
    <th>Settings</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>
      <% if @google_account.nil?  %>
        <%= link_to t('settings.google_drive_add_label'), new_google_account_path %> 
      <% else %>
        <%= link_to t('settings.google_drive_open_folder'), @google_account.drive_folder_link , :target => "_blank" %>
      <% end %>
    </td>
    <td>
      <% if !@google_account.nil? %>
      &#124;
      <%= link_to t('settings.google_drive_remove_label'), @google_account, :confirm => t('settings.google_drive_remove_confirm'), :method => :delete %>
      <% end %>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>
      <% if @drop_box_account.nil?  %>
        <%= link_to t('settings.dropbox_add_label'), new_drop_box_accounts_path %>
      <% else %>
        <%= link_to t('settings.drop_box_open_folder'), @drop_box_account.folder_link , :target => "_blank" %> 
      <% end %>
    </td>
    <td>
      <% if !@drop_box_account.nil? %>
      &#124;
      <%= link_to t('settings.drop_box_remove_label'), @drop_box_account, :confirm => t('settings.drop_box_remove_confirm'), :method => :delete %>
      <% end %>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>
      <% if !@drop_box_account.nil? and !@google_account.nil?  %>
        <%= form_for @setting, remote: true, html: {  :'data-type' => 'html', id: 'setting_form' }  do |f| %>
          <%= label_tag(:upload_to, t('settings.upload_to_label')) %>
          <%= f.select(:upload_to, [ t('google_accounts.google_drive'), t('drop_box_accounts.drop_box') ])  %>
        <% end %>
      <% elsif  @drop_box_account.nil? and !@google_account.nil?  %>  
        <%= form_for @setting, remote: true, html: {  :'data-type' => 'html', id: 'setting_form' }  do |f| %>
          <%= label_tag(:upload_to, t('settings.upload_to_label')) %>
          <%= f.select(:upload_to, [ t('google_accounts.google_drive') ], {}, {:class => 'disabled', :disabled=>'disabled'})  %>
        <% end %>   
      <% elsif  !@drop_box_account.nil? and @google_account.nil?  %>  
        <%= form_for @setting, remote: true, html: {  :'data-type' => 'html', id: 'setting_form', class: 'disabled' }  do |f| %>
          <%= label_tag(:upload_to, t('settings.upload_to_label')) %>
          <%= f.select(:upload_to, [ t('drop_box_accounts.drop_box') ], {}, {:class => 'disabled', :disabled=>'disabled'})  %>
        <% end %>
      <% else %>
      "Pick a Storage Service" 
      <% end %>
    </td>
    <td></td>
    <td>
    </td>
  </tr>

</table>

<br />


