<h1><%= t 'settings.title' %></h1>
<% if @progress[:next_task] %>
<div><br /></div>
  <legend>Get started</legend>
  <div class="row">
    <div class="span5">
      <div class="progress span3" style="margin-left:0;">
        <div class="bar" style="width: <%= @progress[:status] %>%;"></div>
      </div>
      <div class="row"></div>
      <% show_tasks.each do |key, value| %>
        <% if @progress[:tasks][key] == :complete %>
          <p class="text-success"><i class="icon-ok"></i> <%= t 'tasks.' + key.to_s %></p>
        <% elsif @progress[:tasks][key] == :ignored %>
          <p class="text-warning"><i class="icon-search"></i> <%= t 'tasks.' + key.to_s %>
          <a class="btn btn-link" href="<%= value[:link] %>">Go</a></p>
        <% else %>
          <p class="text-error"><i class="icon-remove"></i> <%= t 'tasks.' + key.to_s %>
          <a class="btn btn-link" href="<%= value[:link] %>">Go</a></p>
        <% end %>
      <% end %>
    </div>
  </div>

<div><br /></div>
<% end %>

<legend><%= t 'settings.storage_title' %></legend>

<div class="row">
    <div  class="span4">
      <% if @google_account.nil?  %>
        <%= link_to t('google_drive.add_drive'), new_google_account_path, class: 'btn btn btn-block' %>
      <% else %>
        <%= link_to t('google_drive.open_folder'), @google_account.drive_folder_link , :target => "_blank" , class: 'btn btn-block'%>
      <% end %>

      <% if !@google_account.nil? %>
      <%= link_to t('google_drive.remove'), @google_account, :confirm => t('google_drive.remove_confirmation'), :method => :delete , class: 'btn btn-danger btn-block'%>
      <% end %>
    </div>

    <div class="span1"> <br/> </div>

    <div class="span4">
      <% if @drop_box_account.nil?  %>
        <%= link_to t('drop_box.add'), new_drop_box_accounts_path , class: 'btn btn btn-block' %>
      <% else %>
        <%= link_to t('drop_box.open_folder'), @drop_box_account.folder_link , :target => "_blank", class: 'btn btn-block' %>
      <% end %>

      <% if !@drop_box_account.nil? %>
      <%= link_to t('drop_box.remove'), @drop_box_account, :confirm => t('drop_box.remove_confirmation'), :method => :delete, class: 'btn btn-danger btn-block' %>
      <i class="icon-warning-sign"></i> Do not rename or move Dropbox files after syncing them with TeacherMaps.
      <%= link_to 'More info.', '/help#dropbox-edit'%>
      <% end %>
    </div>

</div>

<div><br /></div>

<legend><%= t 'settings.user_title' %></legend>

<div class="row">
  <div class="span5">
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email, {class: "pull-left", style:"margin-right:10px"} %>
      <% if @user.confirmed == 1 %>
        <div class="label label-success"><i class="icon-ok"></i> <%= t 'settings.email_confirmed' %></div>
      <% else %>
        <div class="label label-warning pull-left" style="margin-right:10px"
          id="confirm_label">
          <%= t 'settings.email_not_confirmed' %>
        </div>
        <div>
          <%= link_to  t('settings.resend'),
            { controller: 'users', action: 'confirm_email' },
            params: { resend: 1 },
            id: 'resend_confirmation',
            remote: true %>
        </div>
      <% end %>

      <%= f.text_field :email %>

      <%= f.submit "Save changes", class: "btn" %>

    <% end %>

    <%= raw t('settings.change_password_link', action: link_to(t('reset_password.action'), controller: 'users', action: 'reset_password' ))%>
  </div>
</div>


<% if false #disabling below %>

  <% if !@drop_box_account.nil? and !@google_account.nil? %>

    <%= form_for @setting, remote: true, html: { :'data-type' => 'html', id: 'update_setting_form' }  do |f| %>
      <%= label_tag(:upload_to, t('settings.upload_to')) %>
      <%= f.select(:upload_to, [ [t('google_drive.link'), GoogleResource::TYPE], [ t('drop_box.link'), DropBoxResource::TYPE ]], {}, {:onchange => '$(this.form).submit();', :style=>"width:200px;"} )  %>
    <% end %>

  <% elsif  @drop_box_account.nil? and !@google_account.nil?  and false # Disabling for now %>
    <div style="width: 200px;">
    <%= select_tag "setting_form", options_for_select([t('google_drive.link'), GoogleResource::TYPE]), :disabled => true %>
    </div>

  <% elsif  !@drop_box_account.nil? and @google_account.nil? and false # Disabling for now %>

    <div style="width: 200px;">
      <%= select_tag "setting_form", options_for_select([ t('drop_box.link'), DropBoxResource::TYPE ]), :disabled => true %>
    </div>

  <% end %>

<% end %>
