<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<div id="put_resource_link_errors"></div>
  
<%= form_for Resource.new, :remote => true, :url => resources_create_link_path, html: { :multipart => true, :'data-type' => 'html', id: 'create_resource_link_form' }  do |f| %>

  <%= label_tag(:title, t('resources.title')) %>
  <%= f.text_field :title, :placeholder=>'Untitled Web Link' %>


  <%= label_tag(:link, t('resources.web_link')) %>
  <%= f.text_field :link, :placeholder=>'http://www.example.com'  %>

  
  <%= label_tag(:course_grades, t('resources.grades')) %>
  <%= select_tag('resource[course_grades]', options_from_collection_for_select(CourseGrade.all, 'id', 'name'), { :multiple => true, :id=>'create_resource_grades'}) %>
  <br/><br/>
 

  <%= label_tag(:course_subjects, t('resources.subjects')) %>
  <%= select_tag('resource[course_subjects]', options_from_collection_for_select(CourseSubject.all, 'id', 'name'), { :multiple => true,  :id=>'create_resource_subjects' }) %>
  <br/><br/>

  <%= link_to(t('shared.cancel'), '#', :class=>"btn btn start", "data-dismiss"=>"modal") %>
  <%= f.submit(t('shared.create'), :class=>"btn btn-primary start") %>
  
<% end %>


<script type="text/javascript">
$(document).ready(function() {  
  $("#create_resource_grades").select2({
    width : '100%',
    placeholder: '<%= t("resources.all_grades") %>'
  });
  $("#create_resource_subjects").select2({
    width : '100%',
    placeholder: '<%= t("resources.all_subjects") %>'
  });
});
</script>