<div class="span6">
<div id="editResourceLinkErrors"></div>
  
<%= form_for @resource, :url=>resource_path, :remote => true, html: { :multipart => true, :'data-type' => 'html', id: 'edit_resource_link_form' }  do |f| %>
  

  <%= label_tag(:title, t('resources.title_label')) %>
  <%= f.text_field :title  %>

  
  <%= label_tag(:link, t('resources.link_label')) %>
  <%= f.text_field :link  %>


  <%= label_tag(:course_grades, "Grades") %>
  <label><%= @resource.course_grades %></label>
  <%= select_tag("course_grade_ids[]", options_for_select(CourseGrade.find(:all).collect { |cat| [cat.name, cat.id] }, @resource.course_grades.collect { |cat| cat.id}), {:multiple=>true, :size=>3})%>
  <br/><br/>
 

  <%= label_tag(:course_subjects, "Subjects") %>
  
  <br/><br/>

  <span>
    
    <% if @resource.type == LinkResource::TYPE %>
      <%= link_to 'Open Link', @resource.link, :class => 'btn', :target => "_blank"  %>
    <% else %>
      <%= link_to 'Open File', @resource.open_link, :class => 'btn', :target => "_blank"  %>
    <% end %>

    <%= link_to t('resources.delete_label'), resource_path(@resource) , :confirm => t('resources.delete_file_confirmation', :title=>@resource.title), :method => :delete, :class=>'btn' %>
    <%= f.submit("Save", :class=>"btn btn-primary start") %>
  </span>

<% end %>
</div>

<script type="text/javascript">
$(document).ready(function() { 

  // $("#select_edit_coruse_grades").select2({});
  $("#select_edit_coruse_subjects").select2({});
  
    // $("#select_edit_coruse_subjects").select2({
    //   tags: [
    //     {'id':1, 'text':'Ben'}, 
    //     {'id':22, 'text':'Andrea'}, 
    //     {'id':23, 'text':'Tim'}, 
    //     {'id':7, 'text':'Matt'}
    //   ]
    // }).select2("val", [1,22]);
});

</script>