<div id="uploadResourceLinkErrors"></div>
  
<%= form_for @resource, :remote => true, html: { :multipart => true, :'data-type' => 'html', id: 'create_resource_link_form' }  do |f| %>
  <%= label_tag(:course_grades, "Grades") %>
  <%= select_tag('resource[course_grades]', options_from_collection_for_select(@resource.course_grades, 'id', 'name'), { :multiple => true, :style=>'width:100%;' }) %>
  <br/><br/>
 

  <%= label_tag(:course_subjects, "Subjects") %>
  <%= select_tag('resource[course_subjects]', options_from_collection_for_select(@resource.course_subjects, 'id', 'name'), { :multiple => true, :style=>'width:100%;' }) %>
  <br/><br/>

  <span>
    <%= link_to 'Open Link', "#", :class => 'btn'  %>
    <%= link_to t('resources.delete_label'), resource_path(@resource) , :confirm => t('resources.delete_file_confirmation', :title=>@resource.title), :method => :delete %>
    <%= f.submit('Save', :class=>"btn") %>
  </span>

  <%= label_tag(:title, t('resources.title_label')) %>
  <%= f.text_field :title  %>

  
  <%= label_tag(:link, t('resources.link_label')) %>
  <%= f.text_field :link  %>

  <%= f.submit("Upload", :class=>"btn btn-primary start") %>
  <%= link_to("Cancel", '#', :class=>"btn btn start", "data-dismiss"=>"modal") %>
<% end %>
