<div id="uploadResourcesErrors"></div>
  
<%= form_for Resource.new, :remote => true, :url => resources_ajax_create_link_path, html: { :multipart => true, :'data-type' => 'html', id: 'create_resource_link_form' }  do |f| %>
  Grade: <br/>
  Subject: <br/>
  Tags: <br/><br/>

  Upload Link:<br/>

  <%= label_tag(:title, t('resources.title_label')) %>
  <%= f.text_field :title  %>

  
  <%= label_tag(:link, t('resources.link_label')) %>
  <%= f.text_field :link  %>

  <%= f.submit("Upload", :class=>"btn btn-primary start") %>
  <%= link_to("Cancel", '#', :class=>"btn btn start", "data-dismiss"=>"modal") %>
<% end %>
