<button type="button" class="close" data-dismiss='modal' style="margin-right:10px;" >&times;</button>
<div id="uploadResourcesErrors"></div>
     
<%= form_for Resource.new, html: { :multipart => true, :'data-type' => 'json', id: 'create_resource_form' }  do |f| %>

  Grade: <br/>
  Subject: <br/>
  Tags: <br/><br/>

  <%= label_tag(:title, t('resources.title_label')) %>
  <%= f.text_field :title  %>

  Upload File: <br/>

  <div>
    <span id="dropzone" class="fade well">Drop resource files here</span>
    <span id="fileupload-button" class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Drag and Drop or Click here to upload</span>
        <%= f.file_field :file_upload %>
    </span>
    <br/>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-condensed" id="resourceContainer" ></table>
  </div>
  
  <%= link_to("Upload", '#', :class=>"btn btn-primary start", :id=>"submit-resource-form") %>
  <%= link_to("Cancel", '#', :class=>"btn btn start", "data-dismiss"=>"modal") %>
<% end %>


