<table class="table table-condensed table-hover"  id="resources_table" >
  <tbody>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>

  <% @resources.each do |resource| %>
    <tr> 
      <td><%= link_to resource.title, resource_url(resource), :target => "_blank" %></td>
      <td><%= resource.created_at %></td>
      <td><%= resource.type %></td>
      <td>
        <%= link_to 'View', "#", :class=>'btn',  :onclick=>"loadViewResourceLinkModal('#{resources_ajax_show_path resource.slug}');" %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<div id="viewResourceLinkModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="viewResourceLinkModalLabel" >
  <button type="button" class="close" data-dismiss='modal' style="margin-right:10px;" >&times;</button>
  <div class="modal-body" id="viewResourceLinkModalBody"></div>
  <div class="modal-header"></div>
</div>

<div id="uploadResourceLinkModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="uploadResourceModalLabel" aria-hidden="true" >
  <button type="button" class="close" data-dismiss='modal' style="margin-right:10px;" >&times;</button>

  <div class="modal-header"><h1>Upload Link Resource</h1></div>
  <div class="modal-body">
    <%= render 'resources/form_create_link' %>
  </div>
  <div class="modal-header"></div>
</div>