<table class="table table-condensed table-hover"  id="resources_table" >
  <tbody>
  <thead>
    <tr>
      <th>Title</th>
      <th>Grades</th>
      <th>Subjects</th>
      <th>Action</th>
    </tr>
  </thead>

  <% @resources.each do |resource| %>
    <tr> 
      <td><%= link_to resource.title, resource_url(resource), :target => "_blank" %></td>
      <td>
        <% if resource.course_grades.any? %>
          <%= resource.course_grades.map(&:name).join(", ") %>
        <% else %>   
          <label>None</label>
        <% end %>     
      </td>
      <td>
        <% if resource.course_subjects.any? %>
          <%= resource.course_subjects.map(&:name).join(", ") %>
        <% else %>   
          <label>None</label>
        <% end %>    
      </td>
      <td>
        <%= link_to 'View', "#", :class=>'btn',  :onclick=>"loadViewResourceLinkModal('#{resources_ajax_show_path resource.slug}');" %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<div id="editResourceLinkModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="editResourceLinkModalLabel" aria-hidden="true" >
  <button type="button" class="close" data-dismiss='modal' style="margin-right:10px;" >&times;</button>
  <div class="modal-body" id="editResourceLinkModalBody"></div>
</div>

<div id="viewResourceLinkModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="viewResourceLinkModalLabel" >
  <button type="button" class="close" data-dismiss='modal' style="margin-right:10px;" >&times;</button>
  <div class="modal-body" id="viewResourceLinkModalBody"></div>
</div>

<div id="uploadResourceLinkModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="uploadResourceModalLabel" aria-hidden="true" >
  <button type="button" class="close" data-dismiss='modal' style="margin-right:10px;" >&times;</button>
  <div class="modal-body">
    <%= render 'resources/form_create_link' %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() { 
  
  $("#create_resource_grades").select2({
    placeholder: 'Select Grades'
  });
  $("#create_resource_subjects").select2({
      placeholder: 'Select Subjects'
    });
  });
</script>

