<form class="form">
  <h1><%= @resource.title %></h1>  

  
  <div class="control-group">
    <% if @resource.course_subjects.any? %>
      <label>Grades</label>
      <div class="controls">
        <% @resource.course_grades.each do |x| %>
          <%= x.name %>
        <% end %>
      </div>
    <% end %>
  </div>
  


  <div class="control-group">
    
      <% if @resource.course_subjects.any? %>
      <label>Subjects</label>
      <div class="controls">
        <% @resource.course_subjects.each do |x| %>
          <%= x.name %>
        <% end %>
      </div>
      <% end %>  
    
  </div>


  <div class="control-group">
    <div class="controls">
      <% if @resource.type == LinkResource::TYPE %>
        <%= link_to 'Open Link', @resource.link, :class => 'btn', :target => "_blank"  %>
      <% else %>
        <%= link_to 'Open File', @resource.open_link, :class => 'btn', :target => "_blank"  %>
      <% end %>
      
      <%= link_to t('resources.delete_label'), resource_path(@resource) , :confirm => t('resources.delete_file_confirmation', :title=>@resource.title), :method => :delete, :class=>'btn' %>
      <%= link_to 'Edit', "#", :class=>"btn btn-primary start", :id=>'editResourceLinkView', 'resource-id'=>@resource.id  %>
    </div>
  </div>

</form>