

<h2><%= @resource.title %></h2>
<% if @resource.course_grades.any?  %>
  <%=  @resource.course_grades.each do |grade| %>
  <% label_tag(grade, grade.name) %>
  <% end %>
<% end %>

<% if @resource.course_subjects.any?  %>
  <%=  @resource.course_subjects.each do |subject| %>
     label_tag(subject, subject.name)
  <% end %>
<% end %>

<span>
  <%= link_to 'Open Link', @resource.link, :class => 'btn'  %>
  <%= link_to t('resources.delete_label'), resource_path(@resource) , :confirm => t('resources.delete_file_confirmation', :title=>@resource.title), :method => :delete %>
  <%= link_to 'Edit', "#", :class => 'btn'  %>
</span>

  <%= label_tag(:title, t('resources.title_label')) %>
  <%= label_tag @resource, :title %>

  
  <%= label_tag(:link, t('resources.link_label')) %>
  <%= label_tag @resource, :link %>
