
<% @resources.each do |resource| %>
  <tr> 
    <td title="<%= resource.get_type %>" style="width:35px;"><%= raw resource.get_thumbnail %></td>
    <td><%= link_to truncate(resource.title, :length => Resource::MAX_TITLE_RENDER_LEN), resource_url(resource), :target => "_blank" %></td>
    <td>
      <% if resource.course_grades.any? %>
        <%= raw(course_grade_ranges(resource.course_grades) ) %>
      <% end %>     
    </td>
    <td>
      <% if resource.course_subjects.any? %>
        <%= resource.course_subjects.map(&:name).join(", ") %>
      <% end %> 
    </td>
    <td><%= link_to t('shared.edit'), 'JavaScript:void(0);', 'resource-id'=>resource.id, :class=>'btn edit_resource_link_view', :style=>"height:18px;" %></td>
  </tr>
<% end %>
