<h1>Listing resources</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= link_to resource.title, "https://docs.google.com/document/d/#{resource.id}/preview", :target => "_blank" %></td>
    <td><%= resource.createdDate %></td>
    <td><%= resource.ownerNames[0] %></td>
    <td><%= link_to 'Download', "https://docs.google.com/feeds/download/documents/export/Export?id=#{resource.id}&exportFormat=pdf", :target => "_blank"%></td>
    <td><%= link_to 'Edit', resource.alternateLink, :target => "_blank" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
