<h1>My Resources</h1>

<span class="pull-right" style="margin-bottom:10px;">
  
      <%= link_to t('resources.sync_label'), "#loadingModal",'data-toggle' => "modal", :onclick => "window.location=\"#{sync_resources_path}\"", :class => 'btn'  %>
      <%= link_to t('resources.upload_label'), "#uploadResourceModal",'data-toggle' => "modal", :class => 'btn' %>
 
</span>



<div>
  <%= render 'resources/resources_table' %>
</div>

<div id="loadingModal" style="text-align:center;" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" >
  <div class="modal-header"><h1><%= t('resources.loading_label') %></h1></div>
  <div class="modal-body">
    <%= image_tag "loading.gif", :alt => "Loading"%>
  </div>
  <div class="modal-header"></div>
</div>


<div id="uploadResourceModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="uploadResourceModalLabel" aria-hidden="true" >
  <div class="modal-header"><h1><%= t('resources.form_upload_label') %></h1></div>
  <div class="modal-body">
    <div id="uploadResourcesErrors"></div>
    Grade: <br/>
    Subject: <br/>
    Tags: <br/><br/>

  
    <%= form_for Resource.new, remote: true, html: { :multipart => true, :'data-type' => 'html', id: 'create_resource_form' }  do |f| %>
      <%= label_tag(:title, t('resources.title_label')) %>
      <%= f.text_field :title  %>

      Upload Link:<br/>
      <%= label_tag(:link, t('resources.link_label')) %>
      <%= f.text_field :link  %>

      or <br/><br/>

      Upload File: <br/>

      <div id="bootstrapped-fine-uploader"></div>
      <br/><br/>

      <%= submit_tag("Upload", :class=>"btn") %>
    <% end %>

    

    <script type="text/javascript">window.onload = createResourceUploader();</script>
  </div>
  <div class="modal-header"></div>
</div>




<%= stylesheet_link_tag "fineuploader-3.2" %>
<%= javascript_include_tag 'fineuploader-3.2' %>

