<h1>My Resources</h1>



<span class="pull-right">
  <div class="btn-group" style="margin-bottom:10px;">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" >
      Action
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-left">
      <%= link_to t('resources.sync'), "#loadingModal",'data-toggle' => "modal", :onclick => "window.location=\"#{sync_resources_path}\"" %>
      <%= link_to "Upload Resource", "#uploadResourceModal",'data-toggle' => "modal" %>
    </ul>
  </div>
</span>

<table class="table table-condensed" >
  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>Deletion</th>
    <th>Type</th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= link_to resource.title, resource_url(resource), :target => "_blank" %></td>
    <td><%= resource.created_at %></td>
    <td><%= link_to t('resources.delete_label'), resource_path(resource) , :confirm => t('resources.delete_file_confirmation', :title=>resource.title), :method => :delete %></td>
    <td><%= resource.type %></td>
  </tr>
<% end %>
</table>

<br />

<div id="loadingModal" style="text-align:center;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" >
  <div class="modal-header"><h1>Loading...</h1></div>
  <div class="modal-body">
    <%= image_tag "loading.gif", :alt => "Loading"%>
  </div>
  <div class="modal-header"></div>
</div>

<div id="uploadResourceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadResourceModalLabel" aria-hidden="true" >
  <div class="modal-header"><h1>Upload a Resource</h1></div>
  <div class="modal-body">
    <%= form_for(@resource, :method => "post", :remote =>"true") do |f| %>
      <%= label_tag(:title, "Title: ") %>
      <%= text_field_tag(:title) %>
      <%= label_tag(:link, "Link: ") %>
      <%= text_field_tag(:link) %>
      <%= submit_tag("Upload", :class=>"btn") %>
    <% end %>
  </div>
  <div class="modal-header"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
