<h1>My Resources</h1>

<span class="pull-right">
  <%= link_to sync_resources_path do %>
    <%= image_tag('refresh.png', :size => '48x48') %>
  <% end %>
</span>

<table class="table table-condensed" >
  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>Type</th>
    
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= link_to resource.title, "#{resource.open_link}", :target => "_blank" %></td>
    <td><%= resource.created_at %></td>
    <td><%= resource.type %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
