<h1>My Resources</h1>

<span class="pull-right">
  <%= link_to t('resources.sync'), "#loadingModal", :class => 'btn', :style => "margin-bottom: 5px;", :role => 'button' ,'data-toggle' => "modal", :onclick => "window.location=\"#{sync_resources_path}\"" %>
</span>

<table class="table table-condensed" >
  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>Deletion</th>
    <th>Type</th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= link_to resource.title, resource_url(:id=>resource.slug), :target => "_blank" %></td>
    <td><%= resource.created_at %></td>
    <td><%= link_to t('resources.delete_label'), resource_path(resource) , :confirm => t('resources.delete_file_confirmation', :title=>resource.title), :method => :delete %></td>
    <td><%= resource.type %></td>
  </tr>
<% end %>
</table>

<br />

<div id="loadingModal" style="text-align:center;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" >
  <div class="modal-header"><h1>Loading...</h1></div>
  <div class="modal-body">
    <%= image_tag "loading.gif", :alt => "Loading"%>
  </div>
  <div class="modal-header"></div>
</div>
