<h1>My Resources</h1>



<span class="pull-right" style="margin-bottom:10px;">
  <%= link_to t('resources.sync_label'), "#loadingModal",'data-toggle' => "modal", :onclick => "window.location=\"#{sync_resources_path}\"", :class => 'btn'  %>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Upload Resource
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><%= link_to "Upload File", "#uploadResourceFileModal",'data-toggle' => "modal" %></li>
      <li><%= link_to "Upload Link", "#uploadResourceLinkModal",'data-toggle' => "modal" %></li>
    </ul>
  </div>
</span>



<div>
  <%= render 'resources/resources_table' %>
</div>

<div id="loadingModal" style="text-align:center;" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" >
  <div class="modal-header"><h1><%= t('resources.loading_label') %></h1></div>
  <div class="modal-body">
    <%= image_tag "loading.gif", :alt => "Loading"%>
  </div>
  <div class="modal-header"></div>
</div>


<div id="uploadResourceFileModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="uploadResourceModalLabel" aria-hidden="true" >
  <button type="button" class="close" data-dismiss='modal' style="margin-right:10px;" >&times;</button>
  <div class="modal-header"><h1><%= t('resources.form_upload_label') %></h1></div>
  <div class="modal-body">
    
  </div>
  <div class="modal-header"></div>
</div>


<div id="uploadResourceLinkModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="uploadResourceModalLabel" aria-hidden="true" >
  <button type="button" class="close" data-dismiss='modal' style="margin-right:10px;" >&times;</button>

  <div class="modal-header"><h1>Upload Link Resource</h1></div>
  <div class="modal-body">
    <%= render 'resources/form_create_link' %>
  </div>
  <div class="modal-header"></div>
</div>



<%= javascript_include_tag 'vendor/jquery.ui.widget', 'jquery.iframe-transport', 'jquery.fileupload', 'jquery.fileupload-ui', 'jquery.fileupload-fp'  %>
<%= stylesheet_link_tag 'jquery.fileupload-ui' %>


