<% if !@map_standard.map_objectives.empty? %>
  <ul style="list-style-type:none;" id="sortable_map_objectives">

    <% @map_standard.map_objectives.each do |map_objective| %>
      <li id="map_objective_<%= map_objective.id %>" class="hover">
        <div class="row editable" style="padding-bottom:15px;">
          
          <% if @is_admin %>
          	<div class="handle pull-left" style="cursor:move;margin-right:-15px;"><%= image_tag 'large-click-drag-handle.png', alt: 'handle', size: '20x60' %></div>
          <% end %>
          
          <div class="span9">
          	<span class="editible-field">
            	<b><%= best_in_place_if @is_admin, map_objective, :name, type: :input, html_attrs: { style: "width:90%" } %></b>
            </span>
            
            <p style="width:95%">
            	<span class="editible-field">
            		<%= best_in_place_if @is_admin, map_objective, :text, type: :textarea, :nil => raw('<span class="gray">Description</span>') %>
            		</span>
          	</p>
          	

            <% if !map_objective.map_resources.empty? %>
              <div style="padding-left:30px;">
                <ul style="list-style-type:none;" class="sortable_map_objective_resources_<%= map_objective.id %>">
                  <% map_objective.map_resources.each do |map_resource| %>
                    
                        <li id="map_resource_<%= map_resource.id %>" class="sortable-inner editable-inner">
                          <div class="row">
                          	<% if @is_admin %>
                            	<div class="handle-inner pull-left" style="cursor:move;margin-right:-20px;"><%= image_tag 'large-click-drag-handle.png', alt: 'handle', size: '15x40' %></div>
                            <% end %>
                            <div class="span8">
                              <span title="<%= map_resource.resource.get_type %>"><%= raw map_resource.resource.get_thumbnail %></span>
                              <span><b><%= link_to map_resource.resource.title.titlecase, map_resource_path(map_resource),  target: "_blank" %>:</b></span>
                              	<p><span class="editible-field"><%= best_in_place_if @is_admin, map_resource, :text, type: :textarea, :nil => raw('<span class="gray">Description</span>'), html_attrs: { style: "width:90%" } %></span></p>
                            </div>
                          </div>
                        </li>

                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>

          <div class="pull-right">
          	<% if @is_admin %>
	            <%= link_to map_objective, confirm: t('map_standards.delete_map_objective_confirmation', title: map_objective.name), method: :delete, title: t('users.delete_map'), :class=>'map_standards_map_objective_destroy', remote: true do %>
	              <i class="icon-trash"></i>
	            <% end %>
	            <br/>
	            <%= link_to show_resources_map_objective_path(map_objective), {remote: true, 'data-toggle' => "modal", 'data-target' =>  "#filter_map_objectives_resources_modal", title: t('map_standards.edit_map_objective_resources'), :class => 'maps_objectives_show_resources'} do %>
	              <i class="icon-pencil"></i>
	            <% end %>
            <% end %>
          </div>
        </div>
        <br/>

        <% if @is_admin %>
        <script type="text/javascript">
          $(document).ready(function() { 
            $('.sortable_map_objective_resources_<%= map_objective.id %>').sortable({
              axis: 'y',
              dropOnEmpty: false,
              handle: '.handle-inner',
              cursor: 'move',
              items: '.sortable-inner',
              opacity: 0.4,
              scroll: true,
              update: function(event, ui){
                var droppedItem = ui.item;
                $.ajax({
                  url: '/map_objectives/<%= map_objective.id %>/sort_resources',
                  type: 'post',
                  data: $('.sortable_map_objective_resources_<%= map_objective.id %>').sortable('serialize'),
                  dataType: 'script',
                  complete: function(request){
                    $(droppedItem).effect('highlight',{color:'#DBDBFF'},2000);
                  },
                  error: function (xhr, ajaxOptions, thrownError) {
                    pushFlash({message:"Error saving order of Map Assessment Resource", state: 'error', fadeOut: 5000});
                  }
                })
              }
            }).disableSelection();
          });
        </script>
        <% end %>
      </li>
    <% end %>
<% end %>

<% if @is_admin %>
<script type="text/javascript">
$(document).ready(function() {    
  $('.best_in_place').best_in_place();

  $("#sortable_map_objectives").sortable({
    axis: 'y',
    dropOnEmpty: false,
    handle: '.handle',
    cursor: 'crosshair',
    items: 'li',
    opacity: 0.4,
    scroll: true,
    update: function(event, ui){
      var droppedItem = ui.item;
      $.ajax({
        url: '/map_standards/<%= @map_standard.id %>/sort_objectives',
        type: 'post',
        data: $('#sortable_map_objectives').sortable('serialize'),
        dataType: 'script',
        complete: function(request){
          $(droppedItem).effect('highlight',{color:'#DBDBFF'},2000);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          pushFlash({message:"Error saving order of Map Objective", state: 'error', fadeOut: 5000});
        }
      })
    }
  });
});
</script>
<% end %>