<div class="row">
  <input type="hidden" id="map_standard_id" value=<%= @map_standard.id %> />
  
  <div class="span10">

  	<% if @is_admin %>
	  	<span class="pull-right">
				<button class="btn" id="map-share-modal">Share</button>
				<div id="map-privacy-state-switch" class="switch" action-url="<%= user_map_path(@map.user.id, @map) %>"  data-on="danger" data-off="primary" data-on-label="Public" data-off-label="Private">
			    <% if @map.privacy_state == PrivacyState::PUBLIC %> 
			    	<input type="checkbox" checked />
			    <% else %>
			    	<input type="checkbox" />
			    <% end %>
				</div>
	   	</span>
   	<% end %>
    

    <div>
      <!-- Breadcrumb -->
      <%= link_to t('shared.my_maps'), user_path(@map_standard.map.user) %> / <%= link_to "#{@map_standard.map.name.titlecase.truncate(40)}", user_map_path(@map_standard.map.user, @map_standard.map.slug) %> / <b><%=  "#{@map_standard.standard.name.truncate(40)}"%></b>
    </div>

    <div>
      <h2><%= @map_standard.standard.name %></h2>
    

      <!-- Map Content -->
      <p><%= raw(@map_standard.standard.text) %></p>
     </div>

    <div>
     
      <span class="pull-right">
      	<% if @is_admin %>
        	<%= link_to t('map_standards.add_map_objective'), "JavaScript:void(0);", :class => 'btn', id: 'create_map_objective', 'action-url' => map_objectives_path %>
        <% end %>
      </span> 
      <h3><%= t('shared.objectives') %></h3>
      <div id="map_standards_objectives_list">

        <!-- Map Objectives -->
        <%= render 'map_standards/list_map_objectives' %>

      </div>
    </div>

  </div>
</div>

<% if @is_admin %>
	<div id="filter_map_objectives_resources_modal" class="resource-modal modal hide fade" >
	  <div class="filter_map_resources_modal_header modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h3><%= t('resources.loading') %></h3>
	  </div>
	  <div class="filter_map_resources_modal_body modal-body center">
	    <%= image_tag "loading.gif", :alt => "loading"%>
	  </div>
	  <div class="modal-footer">&nbsp;</div>
	</div>
<% end %>

<div id="filter_map_objectives_resources_modal" class="resource-modal modal hide fade" >
  <div class="filter_map_resources_modal_header modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3><%= t('resources.loading') %></h3>
  </div>
  <div class="filter_map_resources_modal_body modal-body center">
    <%= image_tag "loading.gif", :alt => "loading"%>
  </div>
  <div class="modal-footer">&nbsp;
    <button type="button" class="save" data-dismiss="modal" />
  </div>
</div>








