$(document).ready(function() {  
   
  //////////////////////////////
  //
  // Create Map Assessment
  //
  //////////////////////////////

  $(document).on('click', '#create_map_assessment', function(e) {

    var mapId = $('#map-id').val();
    var actionUrl = $(this).attr('action-url');

    if( mapId == undefined || actionUrl == undefined) return false;

    $.ajax({
      data: { 'map_id' : mapId },
      type: 'POST',
      url: actionUrl,
      dataType: 'html',
      success: function (response) {
        $('#maps_list_map_assessments').html(response);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        pushFlash({message:"<%= I18n.t('maps.create_map_assessment_error') %>", state: 'error', fadeOut: 5000});
      }
    });

    e.stopPropagation();
  });

  //////////////////////////////
  //
  // Remove Map Assessment
  //
  //////////////////////////////

  $(document)
  .on('ajax:error', '.maps_map_assessments_destroy', function(event, data, status, xhr) {
    pushFlash({message:"<%= I18n.t('maps.delete_map_assessment_error') %>", state: 'error', fadeOut: 5000});
  })
  .on('ajax:success', ".maps_map_assessments_destroy", function(event, data, status, xhr) {
    $('#maps_list_map_assessments').html(data);
  });

  $(document)
  .on('ajax:error', '.maps_map_assessments_show_resources', function(event, data, status, xhr) {
    pushFlash({message:"<%= I18n.t('maps.show_map_assessment_resources_error') %>", state: 'error', fadeOut: 5000});
  })
  .on('ajax:success', '.maps_map_assessments_show_resources', function(event, data, status, xhr) {
    $('#filter_map_resources_modal').html(data);        
  });

  //////////////////////////////
  //
  // Filter Standards 
  //
  //////////////////////////////

  var timer;
  $(document).on('keyup input', '#filter_standards_search', function() {
  	$("#standards_table").html('');  
    $('#filter_map_standards_loading_wheel').show();
    
    var form = $(this);
    // Prevents ajax request till N milliseconds 
    timer && clearTimeout(timer);
    timer = setTimeout(function(){ 
      form.submit();
    }, 500);
  });

  $(document).on('change', '#filter_standards_form', function() {
    $(this).submit();
    $("#standards_table").html('');  
    $('#filter_map_standards_loading_wheel').show();
  });

  $(document)
  .on('ajax:error', "#filter_standards_form", function(event, data, status, xhr) {
    pushFlash({message:"<%= I18n.t('resources.filter_failure') %>", state: 'success', fadeOut: 5000});
  })
  .on('ajax:success', "#filter_standards_form", function(event, data, status, xhr) {
    // Update the resources table
    $("#standards_table").html(data);  
    $('#filter_map_standards_loading_wheel').hide();
  });

  //////////////////////////////
  //
  // Create Map Standards
  //
  //////////////////////////////

  $(document).on('click', '.standard-default', function(e) {
    
    var element = $(this);
    var standardId = $(this).attr('standard-id');
    var actionUrl = $(this).attr('action-url');
    if(actionUrl == undefined || standardId == undefined) return false;

    $.ajax({
      data: {standard_id: standardId},
      url: actionUrl,
      dataType: 'html',
      type: 'POST',
      success: function (response) {
        $('#map_standards_list').html(response);

        // Select any children standards
    		element.parent().find('.standard-default').attr('class','standard-selected');
    		element.parent().find('.icon-plus').attr('class','icon-check pull-right');

        element.attr('class','standard-selected');
        element.find('.icon-plus').attr('class','icon-check pull-right');
      },
      error: function (xhr, ajaxOptions, thrownError) {
        pushFlash({message:"<%= I18n.t('maps.create_map_standard_error') %>", state: 'error', fadeOut: 5000});
      }
    }); 

    e.stopPropagation();

  });


  //////////////////////////////
  //
  // Remove Map Standard from Map
  //
  //////////////////////////////

  $(document)
  .on('ajax:error', ".maps_map_standard_destroy", function(event, data, status, xhr) {
    pushFlash({message:"<%= I18n.t('maps.delete_map_standard_error') %>", state: 'error', fadeOut: 5000});
  })
  .on('ajax:success', ".maps_map_standard_destroy", function(event, data, status, xhr) {
    $('#map_standards_list').html(data);
  });


  //////////////////////////////
  //
  // Filter Map Assessment Resources
  //
  //////////////////////////////

  var timer;
  $(document).on('keyup input', '#maps_filter_resource_search', function() {
  	$("#maps_map_assessments_resources_table").html('');  
    $('#filter_map_assessment_resource_loading_wheel').show();
    var form = $(this);
    // Prevents ajax request till N milliseconds 
    timer && clearTimeout(timer);
    timer = setTimeout(function(){ 
        form.submit();
    }, 500);
  });

  // Needed for browser compatibility 
  $(document).on('change', '#maps_filter_resource_form', function() {
    $(this).submit();
    $("#maps_map_assessments_resources_table").html('');  
    $('#filter_map_assessment_resource_loading_wheel').show();
  });

  $(document)
  .on('ajax:error', '#maps_filter_resource_form', function(event, data, status, xhr) {
    pushFlash({message:"<%= I18n.t('resources.filter_failure') %>", state: 'success', fadeOut: 5000});
  })
  .on('ajax:success', '#maps_filter_resource_form', function(event, data, status, xhr) {
    // Update the resources table
    $('#filter_map_assessment_resource_loading_wheel').hide();
    $("#maps_map_assessments_resources_table").html(data);  
  });

  //////////////////////////////
  //
  // Adding/Removing Map Assessment Resources
  //
  //////////////////////////////

  $(document).on('click', '.map_assessment_resource_selected', function(e) {

    // /map_assessments/:id/destroy_resource
    var mapAssessmentId = $(this).attr('map-assessment-id');
    var resourceId = $(this).attr('resource-id'); 
    var actionUrl = '/map_assessments/'+mapAssessmentId+'/destroy_resource'
    var resourceElem = $(this);

    if(mapAssessmentId == undefined || resourceId == undefined) return false;

    $.ajax({
      data: { resource_id: resourceId },
      url: actionUrl,
      dataType: 'html',
      type: 'DELETE',
      success: function (response) {
        $('#maps_list_map_assessments').html(response);
        resourceElem.attr('class','map_assessment_resource_default');
      },
      error: function (xhr, ajaxOptions, thrownError) {
        pushFlash({message:"<%= I18n.t('maps.delete_map_assessment_resource_error') %>", state: 'error', fadeOut: 5000});
      }
    });  

    e.stopPropagation();
  });

  $(document).on('click', '.map_assessment_resource_default', function(e) {
      
    // /map_assessments/:id/create_resource
    var mapAssessmentId = $(this).attr('map-assessment-id');
    var resourceId = $(this).attr('resource-id'); 
    var actionUrl = '/map_assessments/'+mapAssessmentId+'/create_resource'
    var resourceElem = $(this);

    if(mapAssessmentId == undefined || resourceId == undefined) return false;

    $.ajax({
      data: { resource_id: resourceId },
      url: actionUrl,
      dataType: 'html',
      type: 'POST',
      success: function (response) {
        $('#maps_list_map_assessments').html(response);
        resourceElem.attr('class','map_assessment_resource_selected');
      },
      error: function (xhr, ajaxOptions, thrownError) {
        pushFlash({message:"<%= I18n.t('maps.create_map_assessment_resource_error') %>", state: 'error', fadeOut: 5000});
      }
    });   
    
    e.stopPropagation();
  });





  //////////////////////////////
  //
  // Public/Private Privacy State
  //
  //////////////////////////////


  $('#map-privacy-state-switch').on('switch-change', function (e, data) {
		var $el = $(data.el), value = data.value;
		var actionUrl = $(this).attr('action-url');

    if( value == undefined ) return false;

    // 0=Private,1=Public
    value = value ? 1 : 0;
    body = { 'privacy_state': value };

    $.ajax({
	    type: "PUT",
	    url: actionUrl,
	    data: {'map':body},
	    success: function(data) {
	    	console.log("success");
	    	if (value) {
	    		pushFlash({message:"Map is now public!", state: 'info'});
	    		$('#share_map_modal_btn').show();
	    	} else {
	    		pushFlash({message:"Map is now private!", state: 'info'});
	    		$('#share_map_modal_btn').hide();
	    	}
	    },
	    error: function(data) {
	    	console.log("failure");
	    	pushFlash({message:"Setting map privacy failed.", state: 'error', fadeOut: 15000});
	    }
	  });
	});



	//////////////////////////////
  //
  // Public/Private Privacy State
  //
  //////////////////////////////



	$(document)
	.on('ajax:error', "#share_map_form", function(event, data, status, xhr) {
  	console.log("Error!!",data);
  	$("#share_map_form_errors").html(data.responseText);
  })
  .on('ajax:success', "#share_map_form", function(event, data, status, xhr) {
  	$('#share_map_modal div.modal-body').html('<h2 style="text-align:center;">Success!!!</h2>');
  	$('#map-privacy-state-switch').bootstrapSwitch('setState', true);
  	setTimeout(function(){
        $('#share_map_modal').modal("hide");
    }, 3000);

  });





  //////////////////////////////
  //
  // Share Map Url 
  //
  //////////////////////////////
  $('#share_map_modal').on('show', function() {
  	setTimeout(function(){
  		// Race condition hack, but it works
        $('#map_share_url').select();	
    }, 200);
    
  })

  $('#map_share_url').click(function() {
	  $('#map_share_url').select();
	});



});