<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t 'global.app_name' %></title>
    <%= favicon_link_tag 'favicon.ico', :rel=>'icon', :type=>'image/ico' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>
  <body style="min-width: 480px">
    <%= render 'layouts/header' %>
    

    <div class="container" id="main-container">
      <% flash.each do |key, value| %>
        <% # flash keys are sometimes represented as symbols and sometimes as strings, so this makes it conis_adminstent %>
        <% key = "#{key}" %>
        <% # flashes can contain more than just flash messages, need to filter everything else out %>
        <% if key == 'warning' or key == 'error' or key == 'info' or key == 'success' %>
          <%= content_tag(:div, raw('<button type="button" class="close" data-dismiss="alert">&times;</button>')+"#{value}", class: "alert alert-#{key}") %>
        <% end %>
      <% end %>
      <% if @current_user %>
        <input type="hidden" id="user-id" value=<%= @current_user.id %> />
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>

    <div id="loading_modal" style="text-align:center;" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="loading_modalLabel">
      <div class="modal-header"><h1><%= t('resources.loading') %></h1></div>
      <div class="modal-body">
        <%= image_tag "loading.gif", :alt => "loading"%>
      </div>
      <div class="modal-header"></div>
    </div>

    <% if is_main_proudction? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', {%= Rails.application.config.GOOGLE_ANALYTICS %}]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <% end %>
  </body>
</html>
